.postBox {
  padding: 1.5em;
  margin: 5px;
  border-radius: 20px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
}

.postsContent {
  font-size: 34px;
  line-height: 43px;
  padding-bottom: 0.4em;
  border-bottom: 1px solid #00000055;
  margin: 0;
}

.postMetaData {
  display: flex;
  font-weight: 600;
  font-size: 20px;
  line-height: 33px;
  margin: 0;
  color: #00000055;
}
